enter_room: default
enter_tile: asm "rooms/asm/00_enter_tile.s"

look_at:
    at 18,3 -> script STORY_ROOM00_LOOK_TREE
    at 7,5 -> script STORY_ROOM00_LOOK_MILESTONE
    default -> GAME_LOOK_DEFAULT

use_at:
    at 18,3 -> script STORY_ROOM00_USE_TREE
    default -> GAME_USE_DEFAULT
