enter_room: asm "rooms/asm/01_enter_room.s"
enter_tile: flag STORY_STATE_ROOM_01_TILE_ENTRY_COUNT increment

look_at:
    default -> GAME_LOOK_DEFAULT

use_at:
    at 10,1 -> script STORY_ROOM01_ENTER_INN
    default -> GAME_USE_DEFAULT
