enter_room: asm "rooms/asm/01_enter_room.s"
enter_tile: asm "rooms/asm/01_enter_tile.s"

look_at:
    default -> asm "rooms/asm/01_look_at.s"

use_at:
    at 10,1 -> script STORY_ROOM01_ENTER_INN
    default -> asm "rooms/asm/01_use_at.s"
